

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: red;   
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    width: 250px;
    font-size: 1.5rem;
    color: white;
    
}



.menu li a {
    display: block;
    text-decoration: none;
    color: green;
    padding: .8rem;  
}

.menu li a:hover {
    background-color: black;
    color: white;
 }



