h1 {
    color: red;
    text-align: center;
}

p {
    text-align: center;
    color: white;
    padding: .5rem;
}

div {
    border: black solid 3px;
    background-color: black;
}

h3 {
    color: white;
}

main {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 2rem;
}

header {
    display: flex;
    justify-content: center;
}

button {
    padding: 20px;
}